[flake8]
exclude = .eggs,.venv,build
# required for Black compatibility
max-line-length = 88
# flake8-mccabe
max-complexity = 10
select =
    # pycodestyle / flake8-eradicate
    E
    W
    # flake8
    F
    # flake8-mccabe / flake8-comprehensions
    C
    # flake8-builtins
    A
    # flake8-bugbear / flake8-bandit
    B
    # flake8-pyi
    Y
    # flake8-print
    T
    # pep8-naming
    N
ignore =
    # required for Black compatibility
    E203
    W503
    # disable class-attributes overlapping with builtins
    A003
per-file-ignores =
    # Disable commented-out-code inspection in these files because we list explicitly
    # list examples of JSON-Dicts returned by Twitter to illustrate the code, which
    # trigger this inspection.
    nasty/_retriever/replies_retriever.py:E800
    nasty/_retriever/search_retriever.py:E800
    nasty/_retriever/thread_retriever.py:E800
    # Black formats stub files differently
    stubs/*:E301,E302,E305,E701,E704,W504
    # Allow vulture's whitelist syntax
    vulture-whitelist.py:F821
