include .coveragerc
include .flake8
include LICENSE
include Makefile
include logo.svg
include mypy.ini
include Pipfile
include Pipefile.lock
include pyproject.toml
include pytest.ini
include README.rst
include setup.py
include vulture-whitelist.py
recursive-include stubs *.pyi
recursive-include tests *.py
