[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "~=1.3"
black = "==19.10b0"
flake8 = "~=3.7"
flake8-bandit = "~=2.1"
flake8-bugbear = "~=19.8"
flake8-builtins = "~=1.4"
flake8-comprehensions = "~=3.1"
flake8-eradicate = "~=0.2"
flake8-print = "~=3.1"
flake8-pyi = "~=19.3"
isort = {extras = ["pipfile", "pyproject"],version = "~=4.3"}
licenseheaders = "~=0.7"
mypy = "~=0.750"
nasty = {editable = true,path = "."}
pep8-naming = "~=0.9"
pipenv-setup = "~=2.2"
pytest = "~=5.3"
pytest-cov = "~=2.8"
responses = "~=0.10"
twine = "~=3.1"
vulture = "~=1.2"

[packages]
overrides = "~=2.5"
requests = "~=2.22"
typing-extensions = "~=3.7"

[requires]
python_version = "3.6"
